Flask==0.10.1
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.5
Jinja2==2.7.2
MarkupSafe==0.19
SQLAlchemy==0.9.3
Tempita==0.5.2
TwitterAPI==2.1.10
WTForms==1.0.5
Werkzeug==0.9.4
argparse==1.2.1
decorator==3.4.0
flup==1.0.2
itsdangerous==0.23
oauthlib==0.6.1
pbr==0.7.0
pytz==2014.1.1
requests==2.2.1
requests-oauthlib==0.4.0
sendgrid==0.3.5
six==1.6.1
smtpapi==0.1.1
sqlalchemy-migrate==0.9
unittest2==0.5.1
wsgiref==0.1.2
