*{
	font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5{
	font-family: 'Source Sans Pro', sans-serif;
}

ul, li{
	list-style: none;
}

header{
	height: 100px;
	background: #000000;
}

.logo{
	margin-top: 5px;
}

.logo img{
	height: 90px;
	float: left;
	position: relative;
	left: 30px;
}

h1{	
	background: #FFFFFF;
	float: left;
	font-size: 31px;
	line-height: 22px;
	padding: 6px 10px 8px 38px;
	margin-top: 15px;
	cursor: default;
}

h1 span{
	display: block;
	font-size: 18px;
	font-weight: 100;
}

.menu{
	float: right;
	margin-bottom: 0px;
	margin-top: 25px;
}

.menu li{
	float:left;
	padding: 5px 20px;
}

.menu li a{
	font-size: 24px;
	font-weight: 200;
	color: #FFFFFF;
}

.menu li a:hover{
	text-decoration: underline;
}

.menu li a i{
	margin-right: 10px;
}

.menu li:last-child{
	background: #983270;
}

.forms.form-login{
	padding: 25px 0px;
}

.forms label{
	display: none;
}

.forms input{
	height: 50px;
	border-radius: 4px;
	font-size: 22px;
}

.forms textarea{
	border-radius: 4px;
	height: 110px;
	font-size: 22px;
}

.right-button{
	clear: both;
	float: right;
}

.login{	
	display: none;
}

.forms .form-button{
	border: none;
	background: #983270;
	color: #FFFFFF;
	border-radius: 0px;
	padding: 0px 20px;
}

.link-cad a{
	color: #983270;
	font-size:14px;
	margin-top: 10px;
	display: block;
}

.link-cad a span{
	display: block;
	font-size: 18px;
	font-weight: bold;
}

.banner{	
	background: #e9e9e9;	
}

.banner-center{
	background: url("../img/fundo-banner.png") right 36px no-repeat;
	padding: 50px 0px;
}

.banner h2{
	font-size: 48px;
	color: #000000;
	line-height: 50px;
}

.banner h2 span{
	display: block;
	font-weight: 200;
}

input.busca{
	border-radius: 4px;
	height: 50px;
	font-size: 22px;
	width: 60%;
	margin: 0 auto;	
}

.search{
	margin: 30px 0px 5px 0px;
}

.search i{
	float: right;
	position: relative;
	right: 220px;
	font-size: 22px;
	top: -38px;
	color: #525252;
}

.news{
	background: #e9e9e9;
	margin-top: 30px;
	padding-top: 10px;
}

.news h2{
	text-align: center;
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 0px;
	color: #525252;
}

.bl-cad h2{
	color:#525252;
	font-size: 30px;
	font-weight: normal;
	margin-top: 30px;
}

.dados-login{
	background: #b64f8b;
	padding: 25px 0px 0px 0px;
	margin-bottom: 50px;
}

.forms span{
	position: relative;
}

.forms span i{
	float: right;
	position: relative;
	right: 20px;
	font-size: 22px;
	top: -58px;
	color: #525252;
}

.doa-descricao{
	border-top: 3px solid #e0e0e0;
	padding-top: 20px;
	padding-bottom: 0px;
	border-bottom: 1px dotted #2b2b2b;
	margin-bottom: 30px;
}

.doa-descricao h2{
	font-size: 18px;
	font-weight: normal;
	margin-top: 15px;
	color: #2b2b2b;
}

.doa-descricao p{
	font-size: 18px;
	color: #2b2b2b;
	line-height: 20px;
}

.doa-descricao a{
	color: #0088b0;
	font-size: 18px;
	margin-left: 10px;
	font-style: italic;
}

.label-tags{
	font-weight: 200;
	font-size: 18px;
	margin-right: 10px;
}

footer{
	padding: 20px 15px;
	color: #9f9f9f;
	margin-top: 45px !important;
	border-top: 3px solid #e8e8e8;
}

.foot-left a{
	float: left;
	color: #9f9f9f;
	font-size: 14px;
	padding-top: 8px;
}

.foot-left a:first-child:after{
	content: '•';
	padding: 0px 8px;
	display: inline-block;
}

.foot-right{
	text-align: right;
}

.foot-right p{
	float: right;
	margin-bottom: 0px;
	padding-right: 15px;
}

.foot-right img{
	float: right;
	height: 30px;
	color: #9f9f9f;
}

.box-twitter {
	/*height: 300px;*/
	/*background-color: #009900;*/
	padding: 10px;
	background-color: #6A6A6A;
}

.box-contador {
	margin: 10px;
	margin-top: 0px;
	padding: 10px;
	background-color: #007BA4;
	padding-bottom: 40px;
}

.box-categoria h2, .box-contador h2 {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 30px;
	padding-bottom: 15px;
}

.box-categoria h2 {
	border-bottom: 1px solid #CCCCCC;
}

.box-contador h2 {
	text-align: center;
}

.box-categoria {
	margin: 10px;
	background-color: #989898;
	padding-bottom: 20px;
}

.box-categoria i {
	padding-left: 20px;
}

.box-categoria h2 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.tag-container {
	padding: 10px;
	height: 110px;
	overflow: hidden;
}

.tag-container .label {
	font-size: 24px;
	background-color: #B5B5B5;
	font-weight: normal;
	margin: 5px;
	margin-bottom: 10px;
}

.info-contador {
	color: #FFFFFF;
}

.numero-doacoes {
	padding-top: 15px;
	font-size: 60px;
	text-align: center;
}

.conteudo-doacoes-cadastradas {
	border-right: 1px solid #FFFFFF;
	text-align: center;
	height: 120px;
	font-size: 18px;
}

.conteudo-doacoes-concluidas {
	font-size: 18px;
	text-align: center;
}

.timeline-header {
	display: none;
}

.banner-instituicao {
	/*padding: 10px 0px;*/
}

.logo-instituicao {
	margin-top: 10px;
	/*margin-left: 20px;*/
}

.info-inst-soc {
	margin-top: 50px;
}

.texto-instituicao, .texto-instituicao h2 {
	color: #777777;
}

.info-inst-soc i {
	margin: 5px;
}

.box-membro-desde {
	background-color: #FFFFFF;
	width: 150px;
	padding: 10px;
	margin-top: 10px;
}

.data-membro {
	font-size: 22px;
}

.botoes-contato {
	margin-top: 15px;
	margin-bottom: 15px;
}

.botoes-contato .botao-site{
	border: none;
	background: #983270;
	color: #FFFFFF;
	border-radius: 0px;
	padding: 5px 25px;
}

.botoes-contato .botao-contato{
	border: none;
	background: #006EB9;
	color: #FFFFFF;
	border-radius: 0px;
	padding: 5px 25px;
}

.bl-cont h2{
	color:#525252;
	font-size: 30px;
	font-weight: normal;
	/*padding-left: 15px;*/
	margin-top: 30px;	
}

.sec-paginacao {
	padding-top: 5px;
	float: right;
}

.container-pedidos {
	padding-top: 10px;
}

.tit-interacoes {
	font-size: 32px;
	float: left;
	color: #727272;
}

.lista-pedidos {
	border-top: 3px solid #E8E8E8;
	clear: both;
}

.item-doacao {
	padding: 10px;
	border-bottom: 1px dotted #E8E8E8;
}

.label {
	color: #A2A2A2;
	font-weight: normal;
	padding: 7px 15px;
}

.prioridade {
	background-color: #C80600;
	color: #FFFFFF;
}

.titulo-doacao {
	color: #646464;
	font-weight: bold;
	margin: 10px 0px;
}

.texto-doacao {
	color: #646464;
	font-weight: normal;
}

.tags-doacao {
	margin: 10px 0px;
}

.gray {
	background-color: #DFDFDF;
}

.form-contato #env-contato-inst {
	padding: 20px 5px;
}

@media only screen and (min-width: 768px) {
	
}

@media only screen and (max-width: 767px) {

}