{%extends "base.html" %}
{%block content%}
	<section class="header-single">
		<section class="row" >
			<section class="large-offset-2 large-8 titulo-single">
				Ajuda
			</section>
		</section>
	</section>

	<section class="row corpo-single" >
		<section class="large-offset-2 large-8">
			
		<section id="acor-ajuda">
				<h2 id="primeiro-item-ajuda">Como funciona?</h2>
				<section>
					<p>
						As ONGs entram no site, fazem um cadastro, e divulgam materiais que
                        querem receber como doação. Isso é publicado no Twitter @praquemdoar e 
                        enviado no final da semana para os usuários cadastrados na nossa Newsletter.
                        Por sua vez, pessoas podem entrar no site para procurar entidades que
                        tenha a necessidade de um item que esta pessoa tem para doar. Facilitando 
                        a comunicação entre ONGs e doadores.
					</p>
				</section>
				<h2>Quem pode usar?</h2>
				<section>
					<p>
						Qualquer ONG com um CNPJ válido pode se cadastrar no sistema para divulgar 
                        suas necessidades. E qualquer usuário na Internet pode visualizar as listas
                        de necessidades que constam no sistema.
					</p>
				</section>
				<h2>O que posso pedir?</h2>
				<section>
					<p>
						O sistema é aberto para qualquer tipo de pedido, mas encorajamos que sejam
                        feitos pedidos de itens como por exemplo mesas, cadeiras, roupas etc. E 
                        desencorajamos o pedido de dinheiro pois, para isso, cada ONG deve ter o seu
                        próprio sistema em seu website.
					</p>
				</section>
				<h2>Quanto custa para usar o site?</h2>
				<section>
					<p>
						O site é totalmente gratuito.
					</p>
				</section>
			</section>
			
		</section>
	</section>	

{%endblock%}
