{%extends "base.html" %}
{%block content%}
	<section class="header-single">
		<section class="row" >
			<section class="large-offset-2 large-8 titulo-single">
				Ajuda
			</section>
		</section>
	</section>

	<section class="row corpo-single" >
		<section class="large-offset-2 large-8">
			
		<section id="acor-ajuda">
				<h2 id="primeiro-item-ajuda">Como funciona?</h2>
				<section>
					<p>
						Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
						ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
						amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
						odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
					</p>
				</section>
				<h2>Quem pode usar?</h2>
				<section>
					<p>
						Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
						ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
						amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
						odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
					</p>
				</section>
				<h2>O que posso pedir?</h2>
				<section>
					<p>
						Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
						ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
						amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
						odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
					</p>
				</section>
				<h2>Quanto custa para usar o site?</h2>
				<section>
					<p>
						Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
						ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
						amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
						odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
					</p>
				</section>
			</section>
			
		</section>
	</section>	

{%endblock%}
