<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Pra quem doar | Onde doações encontram doadores</title>

<meta name="description" content="Pra quem doar"/>

<meta name="keywords" content="Pra quem doar" />
<meta name="robots" content="index, follow"/>
	
<meta name="viewport" content="width=device-width" />

<link rel="shortcut icon" href="/static/favicon.ico">
<link href="/static/css/normalize.css" rel="stylesheet" type="text/css" />
<link href="/static/css/foundation.css" rel="stylesheet" type="text/css" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href='/static/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700' rel='stylesheet' type='text/css'>
<link href='/static/css/jquery.tagsinput.css' rel='stylesheet' type='text/css'>
<link href='/static/css/jquery-ui.min.css' rel='stylesheet' type='text/css'>



<script type="text/javascript" src="/static/js/modernizr.js"></script>	
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/foundation.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/js/messages_pt_br.js"></script>
<script type="text/javascript" src="/static/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>

   <!-- <meta name="title" content="Pra quem doar" />
    <meta name="og:title" content="Pra quem doar" />
    <meta name="description" content="Pra quem doar" />
    <meta name="og:description" content="Pra quem doar" />
    <meta name="og:image" content="/static/img/logo.png" />
    <link rel="image_src" href="/static/img/logo.png" />-->
</head>

<body class="base">
	<header class="container" role="banner">
		<section class="row">
			<section class="large-3 columns logo">
                <a href="{{url_for('index')}}"><img src="/static/img/logo.png" alt="Logo Onde doações encontram doadores" /></a>
				<h1><span>PRA QUEM</span>DOAR</h1>
			</section>
			<section class="large-offset-3 large-6 columns">
				<nav role="navigation">
					<ul class="menu">
						<li><a href="/ajuda"><i class="fa fa-question-circle"></i>AJUDA</a></li>
                        {% if user.is_authenticated() %}
                        <li class="menu-login"><i class="fa fa-user"></i><a href="/{{user.nickname}}">{{user.nome}}</a></li>
                        {% else %}
						<li class="menu-login btn-login"><a href="#"><i class="fa fa-user"></i>LOGIN</a></li>
                        {% endif %}
					</ul>
				</nav>
			</section>
		</section>
	</header>
	
	<section class="main">
		<section class="row login">
			<form action="#" method="post" id="form-login" class="forms form-login">
                {{form.hidden_tag()}}
				<section class="large-4 columns">
					<label for="login">login</label>
                    {{form.login(required=True, placeholder='login')}}
				</section>
				<section class="large-4 columns">
					<label for="senha_login">senha</label>
                    {{form.senha_login(required=True, placeholder='senha', type='password')}}
				</section>
				<section class="large-2 columns">
					<input type="submit" id="env-login" class="form-button" value="ENTRAR" />
				</section>
				<section class="large-2 columns link-cad">
					<a href="{{url_for('cadastro')}}">NÃO TEM UMA CONTA?<span>CADASTRE-SE</span></a>
				</section>
			</form>
		</section>
		{%block content%}{%endblock%}
	</section>
	<footer class="row">
		<section class="large-6 columns left foot-left">
			<a href="/politica-privacidade">POLITICA DE PRIVACIDADE</a>
            <a href="{{url_for('contato')}}">CONTATO</a>
		</section>
		<section class="large-6 columns right foot-right">
			<img src="/static/img/logo-foot.png" alt="Logo Pra quem doar footer" />
			<p>2014, PRA QUEM DOAR</p>
		</section>
	</footer>
</body>
</html>
