<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Pra quem doar</title>

<meta name="description" content="Pra quem doar"/>

<meta name="keywords" content="Pra quem doar" />
<meta name="robots" content="index, follow"/>
	
<meta name="viewport" content="width=device-width" />

<link rel="shortcut icon" href="/static/favicon.ico">
<link href="/static/css/normalize.css" rel="stylesheet" type="text/css" />
<link href="/static/css/foundation.css" rel="stylesheet" type="text/css" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700' rel='stylesheet' type='text/css'>
<link href='/static/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
<link href='/static/css/jquery.tagsinput.css' rel='stylesheet' type='text/css'>


<script type="text/javascript" src="/static/js/modernizr.js"></script>	
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/foundation.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>

    <meta name="Title" content="Pra quem doar" />
    <meta name="og:title" content="Pra quem doar" />
    <meta name="description" content="Pra quem doar" />
    <meta name="og:description" content="Pra quem doar" />
    <meta name="og:image" content="/static/img/logo.png" />
    <link rel="image_src" href="/static/img/logo.png" />
</head>

<body class="base">
	<header class="container" role="banner">
	
	</header>		
	<section class="main">
		{%block content%}{%endblock%}
	</section>
	<footer class="row">
	
	</footer>
</body>
</html>
