{%extends "base.html" %}
{%block content%}

	<section class="search">
		<section class="row">
			<input type="text" id="busca" name="busca" class="busca" placeholder="o que você quer doar?" />
			<i class="fa fa-search"></i>
		</section>
	</section>

	<section class="row">
		<section class="large-12 columns box-query-busca">
			Resultados para <span class="termo-busca">"XPTO"</span>
		</section>

	</section>
	<section class="row bl-pedidos" >

		<section class="large-offset-2 large-8 columns container-pedidos">
			<section class="tit-interacoes">Pedidos de Doações</section>

			<section class="sec-paginacao">

				<ul class="pagination"> 
					<li class="arrow unavailable"><a href="">&laquo;</a></li> 
					<li class="current"><a href="">1</a></li> 
					<li><a href="">2</a></li> 
					<li><a href="">3</a></li> 
					<li><a href="">4</a></li> 
					<li class="unavailable"><a href="">&hellip;</a></li> 
					<li><a href="">12</a></li> 
					<li><a href="">13</a></li> 
					<li class="arrow"><a href="">&raquo;</a></li> 
				</ul>
			</section>

			<section class="lista-pedidos">
				
				<section class="item-doacao">
					<span class="label round gray">24 minutos atrás</span>
					<span class="label round prioridade"><i class="fa fa-angle-double-up"></i> Alta Prioridade</span>
					<section class="titulo-doacao">
						CAMPANHA DO AGASALHO
					</section>
					<section class="texto-doacao">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue odio massa, vitae placerat eros eleifend quis. Ut ac ultrices nisl. Vivamus purus odio, egestas in lacus et, luctus semper elit. Vestibulum quis tellus vehicula, accumsan metus a, faucibus metus. Nam tincidunt libero in purus posuere sagittis. Proin ac enim tellus. In sollicitudin fringilla justo, eu malesuada turpis facilisis sit amet. Aenean volutpat porttitor mauris ut pulvinar. Suspendisse laoreet eros sit amet nunc luctus sollicitudin.
						<br /><br />
						Sed sed dictum mi, ac suscipit arcu. Morbi hendrerit nibh eu aliquet auctor. Maecenas sit amet lacus aliquam, vulputate mi sed, tempus augue. Donec pellentesque vestibulum dolor, ut luctus tellus euismod vel. Curabitur id malesuada urna. Vestibulum at nunc nec ipsum mattis rhoncus sed a ipsum. Duis id vestibulum nibh. Integer et risus mattis, molestie libero non, accumsan ipsum. Maecenas et arcu imperdiet, ultrices libero in, tincidunt sem. 
					</section>
					<section class="tags-doacao">
						Tags 
						<span class="label round gray">ROUPAS</span> 
						<span class="label round gray">COBERTORES</span> 
					</section>
				</section>

				<section class="item-doacao">
					<span class="label round gray">24 minutos atrás</span>
					<span class="label round prioridade"><i class="fa fa-angle-double-up"></i> Alta Prioridade</span>
					<section class="titulo-doacao">
						CAMPANHA DO AGASALHO
					</section>
					<section class="texto-doacao">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue odio massa, vitae placerat eros eleifend quis. Ut ac ultrices nisl. Vivamus purus odio, egestas in lacus et, luctus semper elit. Vestibulum quis tellus vehicula, accumsan metus a, faucibus metus. Nam tincidunt libero in purus posuere sagittis. Proin ac enim tellus. In sollicitudin fringilla justo, eu malesuada turpis facilisis sit amet. Aenean volutpat porttitor mauris ut pulvinar. Suspendisse laoreet eros sit amet nunc luctus sollicitudin.
						<br /><br />
						Sed sed dictum mi, ac suscipit arcu. Morbi hendrerit nibh eu aliquet auctor. Maecenas sit amet lacus aliquam, vulputate mi sed, tempus augue. Donec pellentesque vestibulum dolor, ut luctus tellus euismod vel. Curabitur id malesuada urna. Vestibulum at nunc nec ipsum mattis rhoncus sed a ipsum. Duis id vestibulum nibh. Integer et risus mattis, molestie libero non, accumsan ipsum. Maecenas et arcu imperdiet, ultrices libero in, tincidunt sem. 
					</section>
					<section class="tags-doacao">
						Tags 
						<span class="label round gray">ROUPAS</span> 
						<span class="label round gray">COBERTORES</span> 
					</section>
				</section>

				<section class="item-doacao">
					<span class="label round gray">24 minutos atrás</span>
					<section class="titulo-doacao">
						CAMPANHA DO AGASALHO
					</section>
					<section class="texto-doacao">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue odio massa, vitae placerat eros eleifend quis. Ut ac ultrices nisl. Vivamus purus odio, egestas in lacus et, luctus semper elit. Vestibulum quis tellus vehicula, accumsan metus a, faucibus metus. Nam tincidunt libero in purus posuere sagittis. Proin ac enim tellus. In sollicitudin fringilla justo, eu malesuada turpis facilisis sit amet. Aenean volutpat porttitor mauris ut pulvinar. Suspendisse laoreet eros sit amet nunc luctus sollicitudin.
						<br /><br />
						Sed sed dictum mi, ac suscipit arcu. Morbi hendrerit nibh eu aliquet auctor. Maecenas sit amet lacus aliquam, vulputate mi sed, tempus augue. Donec pellentesque vestibulum dolor, ut luctus tellus euismod vel. Curabitur id malesuada urna. Vestibulum at nunc nec ipsum mattis rhoncus sed a ipsum. Duis id vestibulum nibh. Integer et risus mattis, molestie libero non, accumsan ipsum. Maecenas et arcu imperdiet, ultrices libero in, tincidunt sem. 
					</section>
					<section class="tags-doacao">
						Tags 
						<span class="label round gray">ROUPAS</span> 
						<span class="label round gray">COBERTORES</span> 
					</section>
				</section>

				<section class="item-doacao">
					<span class="label round gray">24 minutos atrás</span>
					<section class="titulo-doacao">
						CAMPANHA DO AGASALHO
					</section>
					<section class="texto-doacao">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue odio massa, vitae placerat eros eleifend quis. Ut ac ultrices nisl. Vivamus purus odio, egestas in lacus et, luctus semper elit. Vestibulum quis tellus vehicula, accumsan metus a, faucibus metus. Nam tincidunt libero in purus posuere sagittis. Proin ac enim tellus. In sollicitudin fringilla justo, eu malesuada turpis facilisis sit amet. Aenean volutpat porttitor mauris ut pulvinar. Suspendisse laoreet eros sit amet nunc luctus sollicitudin.
						<br /><br />
						Sed sed dictum mi, ac suscipit arcu. Morbi hendrerit nibh eu aliquet auctor. Maecenas sit amet lacus aliquam, vulputate mi sed, tempus augue. Donec pellentesque vestibulum dolor, ut luctus tellus euismod vel. Curabitur id malesuada urna. Vestibulum at nunc nec ipsum mattis rhoncus sed a ipsum. Duis id vestibulum nibh. Integer et risus mattis, molestie libero non, accumsan ipsum. Maecenas et arcu imperdiet, ultrices libero in, tincidunt sem. 
					</section>
					<section class="tags-doacao">
						Tags 
						<span class="label round gray">ROUPAS</span> 
						<span class="label round gray">COBERTORES</span> 
					</section>
				</section>


			</section>

			<section class="sec-paginacao">

				<ul class="pagination"> 
					<li class="arrow unavailable"><a href="">&laquo;</a></li> 
					<li class="current"><a href="">1</a></li> 
					<li><a href="">2</a></li> 
					<li><a href="">3</a></li> 
					<li><a href="">4</a></li> 
					<li class="unavailable"><a href="">&hellip;</a></li> 
					<li><a href="">12</a></li> 
					<li><a href="">13</a></li> 
					<li class="arrow"><a href="">&raquo;</a></li> 
				</ul>
			</section>

		</section>
	</section>

{%endblock%}
