{%extends "base.html" %}
{%block content%}
	<section class="bl-cad inst">
		<section class="row">
			<section class="large-offset-2 large-8 columns">
				<h2>Cadastrar Instituição</h2>
				<form action="#" method="post" id="form-login" class="forms form-login">					
					<label for="login">login</label>
					<input type="text" id="login" name="login" placeholder="login" required />					
					<label for="senha">senha</label>
					<input type="password" id="senha" name="senha" placeholder="senha" required />									
					<input type="submit" id="env-inst" class="form-button right-button" value="CADASTRAR" />															
				</form>
			</section>
		</section>
	</section>
{%endblock%}
