{%extends "base.html" %}
{%block content%}
	
	{% include 'descricao-instituicao.html' %}
	<section class="bl-cont inst" id="bl-cadastro-doacao">
		<section class="row">
			<section class="large-offset-2 large-8 columns">
				<h2>Cadastrar Doação</h2>
				<form action="" method="post" id="form-cadastro-doacao custom" class="forms form-login">
                    {{form_cadastro.hidden_tag()}}
					<span>
						<label for="categoria">Categoria</label>
                        {{form_cadastro.categoria(required=True)}}						
					</span>

					<span>
						<label for="nome">Nome</label>
                        {{form_cadastro.nome(required=True, placeholder='Nome*')}}
						
					</span>

					<span>
						<label for="descricao">Descrição</label>
                        {{form_cadastro.descricao(placeholder='Descrição')}}
						
					</span>

					<span>
						<label for="email">Email</label>
                        {{form_cadastro.email(placeholder='Email de contato')}}
					</span>
			
                    <span class="tags-input">
                        {{form_cadastro.tags(required=True)}}
						<small class="tag-small">SEPARAR TAGS POR VÍRGULA</small>
					</span>               					

					<span>
						<label for="prioridade">Prioridade</label>
                        {{form_cadastro.prioridade(required=True)}}
						
					</span>

					<span class="checkbox">
						<label for="retira">
                        {{form_cadastro.retirar(required=True, type='checkbox')}}  Retira doação no local
                        </label>
						
						
					</span>

					<section class="divisor"></section>

					<span>
						<label for="cep">CEP</label>
                        {{form_cadastro.cep(required=True, placeholder='CEP*')}}
					</span>

					<span>
						<label for="logradouro">Logradouro</label>
                        {{form_cadastro.logradouro(required=True, placeholder='Logradouro*')}}
					</span>

					<section class="row">
						<section class="large-6 columns">
							<span>
								<label for="numero">Número</label>
                                {{form_cadastro.numero(required=True, placeholder='Nr*')}}
							</span>													
						</section>
						<section class="large-6 columns left">
							<span>
								<label for="complemento">Complemento</label>
                                {{form_cadastro.complemento(placeholder='Complemento')}}
							</span>													
						</section>

					</section>

					<span>
						<label for="bairro">Bairro</label>
                        {{form_cadastro.bairro(required=True, placeholde='Bairro*')}}
					</span>

					<section class="row">
						<section class="large-6 columns">
							<span>
								<label for="cidade">Cidade</label>
                                {{form_cadastro.cidade(required=True, placeholder='Cidade*')}}
							</span>													
						</section>
						<section class="large-6 columns left">
							<span>
								<label for="estado">Estado</label>
                                {{form_cadastro.estado(required=True, placeholder='Estado*')}}
							</span>													
						</section>

					</section>

					<section class="divisor"></section>

					

					<span class="checkbox">
						<label for="publicar"> 
                        {{form_cadastro.publicar(type='checkbox')}} Publicar doação</label>
						
						
					</span>			
					<input type="submit" id="env-cad-doa" class="form-button right-button" value="SALVAR" />												
				</form>
			</section>
		</section>
	</section>

	<script type="text/javascript" src="/static/js/instituicao.js"></script>
{%endblock%}
