<div style="background-color:#f2f2f2">
 <center>
   <table style="background-color:#f2f2f2" height="100%" border="0" cellpadding="0" cellspacing="0" width="100%">
     <tbody>
       <tr>
         <td style="padding:40px 20px" align="center" valign="top"><table style="width:600px" border="0" cellpadding="0" cellspacing="0">
             <tbody>
               <tr>
                 <td align="center" valign="top"><img src="http://praquemdoar.com.br/static/img/logo.png" width="149" height="149"></td>
               </tr>
               <tr>
                 <td style="padding-top:30px;padding-bottom:30px" align="center" valign="top"><table style="background-color:#ffffff;border-collapse:separate!important;border-radius:4px" border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tbody>
                       <tr>
                         <td style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;padding-top:40px;padding-right:40px;padding-bottom:30px;padding-left:40px;text-align:center" align="center" valign="top"><h1 style="color:#606060!important;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:bold;letter-spacing:-1px;line-height:115%;margin:0;padding:0;text-align:center">Bem Vindo</h1>
                           <br>
                           <h3 style="color:#606060!important;font-family:Helvetica,Arial,sans-serif;font-size:18px;letter-spacing:-.5px;line-height:115%;margin:0;padding:0;text-align:center">Olá {{ong.nome}},<br>
                           </h3>
                           Seja bem vindo ao Pra Quem Doar.<br />
                           Não perca mais tempo, cadastre seus pedidos de doações<br />
                           e divulgue nos canais sociais agora mesmo!</td>
                       </tr>
                       <tr>
                         <td style="padding-right:40px;padding-bottom:40px;padding-left:40px" align="center" valign="middle"><table style="background-color:#6dc6dd;border-collapse:separate!important;border-radius:3px" border="0" cellpadding="0" cellspacing="0">
                             <tbody>
                               <tr>
                                 <td style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:bold;line-height:100%;padding-top:18px;padding-right:15px;padding-bottom:15px;padding-left:15px" align="center" valign="middle"><a href="http://www.praquemdoar.com.br" style="color:#ffffff;text-decoration:none" target="_blank">Acessar ao site</a></td>
                               </tr>
                             </tbody>
                           </table></td>
                       </tr>
                     </tbody>
                   </table></td>
               </tr>
               <tr>
                 <td align="center" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tbody>
                       <tr>
                         <td style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%" align="center" valign="top"> 2014 Pra Quem Doar, Todos os Direitos Reservados. </td>
                       </tr>
                       <tr>
                         <td style="padding-top:30px" align="center" valign="top">&nbsp;</td>
                       </tr>
                     </tbody>
                   </table></td>
               </tr>
             </tbody>
           </table></td>
       </tr>
     </tbody>
   </table>
 </center>
</div>
