{%extends "base.html" %}
{%block content%}
	
	<section class="bl-cont inst" id="bl-contato">
		<section class="row">
			<section class="large-offset-2 large-8 columns">
				<h2>Entre em contato</h2>
				<form action="" method="post" id="form-contato" class="forms form-login">
                    {{form_contato.hidden_tag()}}
					<span>
						<label for="nome">Nome</label>
                        {{form_contato.nome(required=True, placeholder='Nome*')}}
						
					</span>

					<span>
						<label for="email">Email</label>
                        {{form_contato.email(required=True, placeholder='Email*', type='email')}}
                    </span>

					<span>
						<label for="assunto">Assunto</label>
                        {{form_contato.assunto(required=True, placeholder='Assunto*', disabled=True, value='[Pra Quem Doar] ' + doacao.nome)}}
					</span>

					<span>
						<label for="mensagem">Mensagem</label>
                        {{form_contato.mensagem(required=True, placeholder='Mensagem*')}}
					</span>
					<input type="submit" id="env-contato-inst" class="form-button right-button" value="ENVIAR CONTATO" />															
				</form>
			</section>
		</section>
	</section>

	<script type="text/javascript" src="/static/js/instituicao.js"></script>
{%endblock%}
