<section class="banner">
	<section class="row">
		<section class="large-2 columns logo-instituicao">
			<img src='static/img/liga-solidaria.jpg'/>
		</section>
		<section class="large-7 columns texto-instituicao">
			<h2>Liga Solidária</h2>
			A Liga Solidária, fundada em 10 de março de 1923 como Liga das Senhoras Católicas de São Paulo, é uma organização social sem fins lucrativos que desenvolve programas socioeducativos e de cidadania que beneficiam mais de 3.200 pessoas.
			<br /><br />
			Nosso foco é a educação para a construção gradual do conhecimento e preparo para autonomia, em sintonia com as Orientações Curriculares Nacionais para a Educação Infantil e com o Estatuto da Criança e do Adolescente (ECA). Acreditamos que por meio da educação é que se alcança a verdadeira cidadania.

			<section class="botoes-contato">
				<input type="button" id="visite-site" class="botao-site" value="VISITE O SITE" />
				<!-- <input type="button" id="contato-inst" class="botao-contato" value="ENTRE EM CONTATO" /> -->
			</section>
		</section>
		<section class="large-3 columns">
			<section class="info-inst-soc">
				<i class="fa fa-twitter"></i>
				<i class="fa fa-facebook"></i>
				<i class="fa fa-google-plus"></i>

				<section class="box-membro-desde">
					MEMBRO DESDE<br />
					<section class="data-membro">10/10/2010</section>
				</section>

			</section>
		</section>
	</section>
</section>