<section class="banner int-banner">
	<section class="row">
		<section class="large-2 columns logo-instituicao">
            {% if ong.logo %}
            <img src='/static/uploads/{{ong.logo}}' alt="{{ong.nome}}" />
            {% else %}
			<img src='/static/img/no_photo.png' alt="Sem imagem" />
            {% endif %}
            {% if user.is_authenticated() and user.id == ong.id %}
			<section class="editar-instituicao"><a href="#"><i class="fa fa-pencil"></i>EDITAR</a></section>
            {% endif %}
		</section>
		<section class="large-7 columns texto-instituicao">
            <h2>{{ong.nome}}</h2>
            {{ong.descricao}}
			<section class="botoes-contato">
                {% if ong.website %}
                <a href='{{ong.website}}' class='botao-site' target='_blank'><i class="fa fa-globe"></i>VISITE O SITE</a>
                {% endif %}
                {% if user.is_authenticated() and user.id == ong.id %}
                <a href="{{url_for('cadastro_doacao', ong=ong.nickname)}}" class="cadastrar-promocao"><i class="fa fa-plus"></i>Cadastrar Doação</a>
		{% endif %}
        {% if user.is_authenticated() and user.id == ong.id %}
        <a href="{{url_for('logout')}}" class="logout"><i class="fa fa-times"></i>LOGOUT</a>
        {% endif %}
			</section>
		</section>
		<section class="large-3 columns">
			<section class="info-inst-soc">
                {% if ong.twitter %}
                <a href='{{ong.twitter}}' target='_blank'><i class="fa fa-twitter"></i></a>
                {% endif %}
                {% if ong.facebook %}
                <a href='{{ong.facebook}}' target='_blank'><i class="fa fa-facebook"></i></a>
                {% endif %}
                {% if ong.googleplus %}
                <a href='{{ong.googleplus}}' target='_blank'><i class="fa fa-google-plus"></i></a>
                {% endif %}

				<section class="box-membro-desde">
					MEMBRO DESDE<br />
                    <section class="data-membro">{{ong.data_cadastro.strftime('%d/%m/%Y')}}</section>
				</section>

			</section>
		</section>
	</section>
</section>
