<section class="banner">
	<section class="row">
		<section class="large-2 columns logo-instituicao">
			<img src='static/img/logo_padrao.jpg'/>
		</section>
		<section class="large-7 columns texto-instituicao">
            <h2>{{ong.nome}}</h2>
            {{ong.descricao}}
			<section class="botoes-contato">
                <a href='' class='botao-site'>VISITE O SITE</a>
			</section>
		</section>
		<section class="large-3 columns">
			<section class="info-inst-soc">
                {% if ong.twitter %}
                <a href='{{ong.twitter}}' target='_blank'><i class="fa fa-twitter"></i></a>
                {% endif %}
                {% if ong.facebook %}
                <a href='{{ong.facebook}}' target='_blank'><i class="fa fa-facebook"></i></a>
                {% endif %}
                {% if ong.googleplus %}
                <a href='{{ong.googleplus}}' target='_blank'><i class="fa fa-google-plus"></i></a>
                {% endif %}

				<section class="box-membro-desde">
					MEMBRO DESDE<br />
                    <section class="data-membro">{{ong.data_cadastro.strftime('%d/%m/%Y')}}</section>
				</section>

			</section>
		</section>
	</section>
</section>
