{%extends "base.html" %}
{%block content%}							
	<section class="bl-cad row">
		<section class="large-offset-2 large-8 columns">
			<h2>Pedidos de Doações</h2>
			<section class="doa-descricao">
				<span class="label round gray">24 minutos atrás </span>
                {% if user.is_authenticated() %}
				<a href="">editar</a>
                {% endif %}
                <h2>{{doacao.nome}}</h2>
                <p>{{doacao.descricao}}</p>
			</section>
			<section class="doa-tags">
				<span class="label-tags">Tags</span>
				<span class="label round gray">{{doacao.tags}}</span>
				<div>
                    <span class="label round prioridade"><i class="fa fa-angle-double-up"></i>{{doacao.prioridade}}</span>
                    {% if doacao.retira %}
					<span class="label round retirar"><i class="fa fa-truck"></i> Retira doação no Local</span>
                    {% endif %}
				</div>
			</section>
			<section class="doa-end">
				<h2>ENDEREÇO</h2>
				<p>Av. das Nações Unidas, 12399 - 14° Andar - São Paulo - SP</p>				
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.9106325399302!2d-46.69609319999999!3d-23.679153699999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce50269fcd7e9d%3A0x83368c0fe90d6b9f!2sAvenida+das+Na%C3%A7%C3%B5es+Unidas%2C+12399+-+Jurubatuba!5e0!3m2!1spt-BR!2sbr!4v1395536457487" height="200" frameborder="0" style="border:0"></iframe>
				<a href="#">QUERO AJUDAR!</a>
			</section>
		</section>
	</section>			
{%endblock%}
