{%extends "base.html" %}
{%block content%}
	{% include 'descricao-instituicao.html' %}
	<section class="bl-cad row">
		<section class="large-offset-2 large-8 columns">
			<h2>Pedidos de Doações</h2>
			<div class="share">
                <p class="share-icons fac"><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]={{doacao.get_url()}}"><i class="fa fa-facebook"></i></a></p>
                <p class="share-icons twt"><a target="_blank" href="https://twitter.com/intent/tweet?url={{doacao.get_url()}}&amp;text={{doacao.nome}}&amp;via=praquemdoar&amp;hashtags={{doacao.ong.nickname}}"><i class="fa fa-twitter"></i></a></p>
                <p class="share-icons goo"><a target="_blank" href="https://plus.google.com/share?url={{doacao.get_url()}}"><i class="fa fa-google-plus"></i></a></p>
			</div>
			<section class="doa-descricao">
                <span class="label round gray data-cad">{{doacao.data_cadastro.strftime('%H:%M %d/%m/%Y')}}</span>
                {% if user.is_authenticated() %}
                <a href="{{url_for('editar_doacao', ong=doacao.ong.nickname, slug=doacao.slug)}}">editar</a>
                {% endif %}
                <h2>{{doacao.nome}}</h2>
                <p>{{doacao.descricao}}</p>
			</section>
			<section class="doa-tags">
				<span class="label-tags">Tags</span>
                {% for tag in doacao.tags.split(',') %}
				<span class="label round gray">{{tag}}</span>
                {% endfor %}
				<div>
					{% if doacao.prioridade == 'Alta Prioridade' %}
                    	<span class="label round prioridade"><i class="fa fa-angle-double-up"></i>{{doacao.prioridade}}</span>
                    {% endif %}
                    {% if doacao.retira %}
					<span class="label round retirar"><i class="fa fa-truck"></i> Retira doação no Local</span>
                    {% endif %}
				</div>
			</section>
			<section class="doa-end">
				<h2>ENDEREÇO</h2>
                <p>{{doacao.logradouro}}, {{doacao.numero}} {% if doacao.complemento %}- {{doacao.complemento}} - {% endif %}{{doacao.bairro}} - {{doacao.cidade}}/{{doacao.estado}}</p>				
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC3Y2frD5ZJGxJCTZAAWQgyylQiBuLHOGc&q={{doacao.url_token()}}" height="200" frameborder="0" style="border:0"></iframe>
                <a href="{{url_for('contato_doacao', ong=doacao.ong.nickname, slug=doacao.slug)}}" id="btn-quero-ajudar">QUERO AJUDAR!</a>
			</section>
		</section>
	</section>			
{%endblock%}
