{%extends "base.html" %}
{%block content%}							
	<section class="bl-cad row">
		<section class="large-offset-2 large-8 columns">
			<h2>Pedidos de Doações</h2>
			<section class="doa-descricao">
				<span class="label round gray">24 minutos atrás </span>
				<a href="#">editar</a>
				<h2>CAMPANHA DO AGASALHO</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue nulla, suscipit eu sodales ut, eleifend vel justo. Nulla facilisi. Morbi tincidunt, sem eget posuere suscipit, turpis mi turpis duis.</p>
			</section>
			<section class="doa-tags">
				<span class="label-tags">Tags</span>
				<span class="label round gray">ROUPAS</span>
				<span class="label round gray">COBERTORES</span>
			</section>
		</section>
	</section>			
{%endblock%}
