{%extends "base.html" %}
{%block content%}
	<section class="row login">
		<form action="#" method="post" id="form-login" class="forms form-login">
			<section class="large-4 columns">
				<label for="login">login</label>
				<input type="text" id="login" name="login" placeholder="login" required />
			</section>
			<section class="large-4 columns">
				<label for="senha">senha</label>
				<input type="password" id="senha" name="senha" placeholder="senha" required />
			</section>
			<section class="large-2 columns">
				<input type="submit" id="env-login" class="form-button" value="ENTRAR" />
			</section>
			<section class="large-2 columns link-cad">
				<a href="#">NÃO TEM UMA CONTA?<span>CADASTRE-SE</span></a>
			</section>
		</form>
	</section>
	<section class="banner">
		<section class="row banner-center">
			<h2><span>ONDE DOAÇÕES</span> ENCONTRAM DOADORES</h2>
		</section>
	</section>
	<section class="search">
		<section class="row">
			<input type="text" id="busca" name="busca" class="busca" placeholder="o que você quer doar?" />
			<i class="fa fa-search"></i>
		</section>
	</section>

	<div class="row">
	
		<div class="large-6 columns">
			<div class="box-twitter">
				<a class="twitter-timeline" href="https://twitter.com/PraQuemDoar" data-widget-id="447432371491467264" data-chrome="transparent noscrollbar" height="475">Acompanhe pelo twitter as últimas atualizações @PraQuemDoar</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			</div>
		</div>

		<div class="large-6 columns">
			<div class="row">
				<div class="large-12 columns">
					<div  class="box-contador">
						<h2>Contador de Doações</h2>
						<div class="row info-contador">
							<div class="large-6 columns conteudo-doacoes-cadastradas">
								<div class="numero-doacoes">1.000</div>
								DOAÇÕES CADASTRADAS
							</div>
							<div class="large-6 columns conteudo-doacoes-concluidas">
								<div class="numero-doacoes">250</div>
								DOAÇÕES CONCLUÍDAS
							</div>

						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="large-12 columns">
					<div class="box-categoria">
						<h2><i class="fa fa-tags"></i> Categorias e tags</h2>
						<div class="tag-container">
							<span class="label round">ROUPAS</span>
							<span class="label round">MÓVEIS</span>
							<span class="label round">ALIMENTOS</span>
							<span class="label round">HIGIENE PESSOAL</span>
							<span class="label round">COBERTORES</span>

							<span class="label round">COBERTORES</span>
							<span class="label round">COBERTORES</span>
							<span class="label round">COBERTORES</span>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<section class="news">
		<section class="row">
			<h2>Receba informações das instituições cadastradas</h2>
			<form action="" method="post" id="form-login" class="forms form-login">
                {{form.hidden_tag()}}
				<section class="large-5 columns">
					<label for="nome">nome</label>
                    {{form.nome(required=True, placeholder='nome')}}
				</section>
				<section class="large-5 columns">
					<label for="email">email</label>
                    {{form.email(required=True, type='email', placeholder='email')}}
				</section>
				<section class="large-2 columns">
					<input type="submit" id="env-news" class="form-button" value="CADASTRAR" />
				</section>			
			</form>
		</section>
	</section>

{%endblock%}
