{%extends "base.html" %}
{%block content%}	
	<section class="row login">
		<form action="#" method="post" id="form-login" class="forms form-login">
			<section class="large-4 columns">
				<label for="login">login</label>
				<input type="text" id="login" name="login" placeholder="login" />
			</section>
			<section class="large-4 columns">
				<label for="senha">senha</label>
				<input type="password" id="senha" name="senha" placeholder="senha" />
			</section>
			<section class="large-2 columns">
				<input type="submit" id="env-login" class="form-button" value="ENTRAR" />
			</section>
			<section class="large-2 columns link-cad">
				<a href="#">NÃO TEM UMA CONTA?<span>CADASTRE-SE</span></a>
			</section>
		</form>
	</section>
	<section class="banner">
		<section class="row banner-center">
			<h2><span>ONDE DOAÇÕES</span> ENCONTRAM DOADORES</h2>
		</section>
	</section>
	<section class="search">
		<section class="row">
			<input type="text" id="busca" name="busca" class="busca" placeholder="o que você quer doar?" />
			<i class="fa fa-search"></i>
		</section>
	</section>
{%endblock%}
