{%extends "base.html" %}
{%block content%}
	{% include 'descricao-instituicao.html' %}

	<section class="row bl-pedidos" >

		<section class="large-offset-2 large-8 columns container-pedidos">
			<section class="tit-interacoes">Pedidos de Doações</section>

			<section class="sec-paginacao">

				<ul class="pagination">
				 {% if doacoes.has_prev %}
                    <li class="arrow"><a href="{{url_for('ong_dashboard', ong=ong.nickname, index=doacoes.prev_num)}}">&laquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                    {% endif %}
                    {% for page in doacoes.iter_pages() %}
                        {% if page %}
                            {% if page != doacoes.page %}
                            <li><a href="{{url_for('ong_dashboard', ong=ong.nickname, index=page)}}">{{page}}</a></li>
                            {% else %}
                            <li class="current"><a href="">{{page}}</a></li>
                            {% endif %}
                        {% else %}
                            <li class="unavailable">&hellip;</li>
                        {% endif %}
                    {% endfor %}
                    {% if doacoes.has_next %}
                    <li class="arrow"><a href="{{url_for('ong_dashboard', ong=ong.nickname, index=doacoes.next_num)}}">&raquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable">&raquo;</li>
                    {% endif %}
			    </ul>
			</section>
			<section class="lista-pedidos">
	            {% for item in doacoes.items %}
					
					<section class="item-doacao">
                        <span class="label round gray">{{item.data_cadastro.strftime('%H:%M %d/%m/%Y')}}</span>
	                    {% if item.prioridade == 'Alta Prioridade'%}
	                    	<span class="label round prioridade"><i class="fa fa-angle-double-up"></i> {{item.prioridade}}</span>
	                    {% endif %}
						<section class="titulo-doacao">
	                    <a href="{{url_for('doacao', ong=item.ong.nickname, slug=item.slug)}}">{{item.nome}}</a>		    
						</section>
						<section class="texto-doacao">
	                        {{item.descricao}}
	                    </section>
						<section class="tags-doacao">
							Tags 
                            {% for tag in item.tags.split(',') %}
							<span class="label round gray">{{tag}}</span>
                            {% endfor %}
						</section>
	                    {% if user.is_authenticated() %}
	                    <section class="situacao-pedido">
	                        Status do Pedido <span class="status-pedido">Ativo</span> <section class="editar-pedido"><a href="#">Editar</a></section> 
	                    </section>
	                    {% endif %}
	                </section>
	                {% endfor %}
			</section>

			<section class="sec-paginacao">

				<ul class="pagination">
                    {% if doacoes.has_prev %}
                    <li class="arrow"><a href="{{url_for('ong_dashboard', ong=ong.nickname, index=doacoes.prev_num)}}">&laquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                    {% endif %}
                    {% for page in doacoes.iter_pages() %}
                        {% if page %}
                            {% if page != doacoes.page %}
                            <li><a href="{{url_for('ong_dashboard', ong=ong.nickname, index=page)}}">{{page}}</a></li>
                            {% else %}
                            <li class="current"><a href="">{{page}}</a></li>
                            {% endif %}
                        {% else %}
                            <li class="unavailable">&hellip;</li>
                        {% endif %}
                    {% endfor %}
                    {% if doacoes.has_next %}
                    <li class="arrow"><a href="{{url_for('ong_dashboard', ong=ong.nickname, index=doacoes.next_num)}}">&raquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable">&raquo;</li>
                    {% endif %}
				</ul>
			</section>

		</section>
	</section>

{%endblock%}
