{%extends "base.html" %}
{%block content%}
	{% include 'descricao-instituicao.html' %}

	<section class="row bl-pedidos" >

		<section class="large-offset-2 large-8 columns container-pedidos">
			<section class="tit-interacoes">Pedidos de Doações</section>

			<section class="sec-paginacao">

				<ul class="pagination"> 
					<li class="arrow unavailable"><a href="">&laquo;</a></li> 
					<li class="current"><a href="">1</a></li> 
					<li><a href="">2</a></li> 
					<li><a href="">3</a></li> 
					<li><a href="">4</a></li> 
					<li class="unavailable"><a href="">&hellip;</a></li> 
					<li><a href="">12</a></li> 
					<li><a href="">13</a></li> 
					<li class="arrow"><a href="">&raquo;</a></li> 
				</ul>
			</section>
            {% for item in ong.doacoes %}
			<section class="lista-pedidos">
				
				<section class="item-doacao">
					<span class="label round gray">24 minutos atrás</span>
                    <span class="label round prioridade"><i class="fa fa-angle-double-up"></i> {{item.prioridade}}</span>
					<section class="titulo-doacao">
                    <a href="{{url_for('doacao', ong=item.ong.nickname, slug=item.slug)}}">{{item.nome}}</a>
					</section>
					<section class="texto-doacao">
                        {{item.descricao}}
                    </section>
					<section class="tags-doacao">
						Tags 
						<span class="label round gray">{{item.tags}}</span>
					</section>
                    {% if user.is_authenticated() %}
                    <section class="situacao-pedido">
                        Status do Pedido <span classs="status-pedido">Ativo</span> <section class="editar-pedido"><a href="#">Editar</a></section> 
                    </section>
                    {% endif %}
                </section>
                {% endfor %}
			</section>

			<section class="sec-paginacao">

				<ul class="pagination"> 
					<li class="arrow unavailable"><a href="">&laquo;</a></li> 
					<li class="current"><a href="">1</a></li> 
					<li><a href="">2</a></li> 
					<li><a href="">3</a></li> 
					<li><a href="">4</a></li> 
					<li class="unavailable"><a href="">&hellip;</a></li> 
					<li><a href="">12</a></li> 
					<li><a href="">13</a></li> 
					<li class="arrow"><a href="">&raquo;</a></li> 
				</ul>
			</section>

		</section>
	</section>

{%endblock%}
