{%extends "base.html" %}
{%block content%}
	<section class="header-single">
		<section class="row" >
			<section class="large-offset-2 large-8 titulo-single">
				Política de Privacidade
			</section>
		</section>
	</section>

	<section class="row corpo-single" >
		<section class="large-offset-2 large-8"> 
                    <h4>Dados pessoais fornecidos pelos usuários:</h4>
<p> 
Utilizando-se da ferramenta do Pra Quem Doar, o usuário, espontaneamente, irá nos fornecer as informações cadastrais necessárias.
 
Ademais, ao navegar nas páginas e ferramentas do Pra Quem Doar, algumas informações podem ser coletadas para melhorar os serviços prestados e, principalmente, melhorar a experiência do usuário relacionadas à navegação nas páginas do Pra Quem Doar.
 
Os dados pessoais inseridos pelos usuários, no momento do cadastro no site Pra Quem Doar, são divididos em dados públicos, aqueles que são visíveis a qualquer usuário, sites parceiros ou colaboradores do Pra Quem Doar e dados privados visíveis por colaboradores do Pra Quem Doar.
 
<h4>Email</h4>

<p>
O Pra Quem Doar se comunicará por e-mail com o usuário;
</p> 

<h4>Atualização da política de privacidade</h4>

<p>
O Pra Quem Doar reserva-se no direito de atualizar sua política de privacidade a qualquer momento, sem prévia comunicação.
 
As informações sobre as atualizações serão enviadas ao endereço de e-mail fornecido ou serão colocadas em local de destaque do site.
 
O Pra Quem Doar se reserva o direito de divulgar suas informações pessoais conforme exigido por lei e quando acreditarmos que a divulgação é necessária para proteger os nossos direitos.
 
Para modificar ou excluir qualquer ou todas as informações pessoais que você forneceu para nós, faça o login e atualize seu perfil.
 
Qualquer dúvida sobre a Política de Privacidade deve ser encaminhada através do formulário contido na página "Contato".
</p>
		</section>
	</section>	

{%endblock%}
