{%extends "base.html" %}
{%block content%}

	<section class="search">
		<section class="row">
            <form action="" method="post" id="form_search" class="forms form-login">
               {{form_busca.hidden_tag()}}
               {{form_busca.search(placeholder='o que você quer doar?', class='busca')}}
               <i class="fa fa-search"></i>
           </form>
        </section>
	</section>

	<section class="row">
		<section class="large-12 columns box-query-busca">
            Resultados para <span class="termo-busca">"{{query}}"</span>
		</section>

	</section>
	<section class="row bl-pedidos" >

		<section class="large-offset-2 large-8 columns container-pedidos">
			<section class="tit-interacoes">Pedidos de Doações</section>

			<section class="sec-paginacao">

				<ul class="pagination">
                    {% if result_doacao.has_prev %}
                    <li class="arrow"><a href="{{url_for('search_results', query=query, index=result_doacao.prev_num)}}">&laquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                    {% endif %}
                    {% for page in result_doacao.iter_pages() %}
                        {% if page %}
                            {% if page != result_doacao.page %}
                            <li><a href="{{url_for('search_results', query=query, index=page)}}">{{page}}</a></li>
                            {% else %}
                            <li class="current"><a href="">{{page}}</a></li>
                            {% endif %}
                        {% else %}
                            <li class="unavailable">&hellip;</li>
                        {% endif %}
                    {% endfor %}
                    {% if result_doacao.has_next %}
                    <li class="arrow"><a href="{{url_for('search_results', query=query, index=result_doacao.next_num)}}">&raquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable">&raquo;</li>
                    {% endif %}
				</ul>
			</section>

			<section class="lista-pedidos">
                {% for item in result_doacao.items %}
				<section class="item-doacao">
                    <span class="label round gray">{{item.data_cadastro.strftime('%H:%M %d/%m/%Y')}}</span>
					{% if item.prioridade %}
                    	<span class="label round prioridade"><i class="fa fa-angle-double-up"></i> {{item.prioridade}}</span>
                    {% endif %}
					<section class="titulo-doacao">
                        <a href="{{url_for('doacao', ong=item.ong.nickname, slug=item.slug)}}">{{item.nome}}</a>
					</section>
					<section class="texto-doacao">
                        {{item.descricao}}
                    </section>
					<section class="tags-doacao">
						Tags 
                        <span class="label round gray">{{item.tags}}</span> 
					</section>
				</section>
                {% endfor %}
			</section>

			<section class="sec-paginacao">

				<ul class="pagination">
                    {% if result_doacao.has_prev %}
                    <li class="arrow"><a href="{{url_for('search_results', query=query, index=result_doacao.prev_num)}}">&laquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                    {% endif %}
                    {% for page in result_doacao.iter_pages() %}
                        {% if page %}
                            {% if page != result_doacao.page %}
                            <li><a href="{{url_for('search_results', query=query, index=page)}}">{{page}}</a></li>
                            {% else %}
                            <li class="current"><a href="">{{page}}</a></li>
                            {% endif %}
                        {% else %}
                            <li class="unavailable">&hellip;</li>
                        {% endif %}
                    {% endfor %}
                    {% if result_doacao.has_next %}
                    <li class="arrow"><a href="{{url_for('search_results', query=query, index=result_doacao.next_num)}}">&raquo;</a></li>
                    {% else %}
                    <li class="arrow unavailable">&raquo;</li>
                    {% endif %}
	  		    </ul>
			</section>

		</section>
	</section>

{%endblock%}
